.sidebar {
    display: none !important;
}

.container {
    display: initial;
    float: none;
    width: 100%;
    margin: 0 auto;
    padding-left:  1rem;
    padding-right: 1rem;
}

.content {
    display: initial;
    float: none;
    width: 100%;
    margin: 0 auto;
}
